<div class="page-wrapper">
  {{{ Link }}}
  <main class="settings">
    <img class="settings__avatar" src="{{#if avatar}}https://ya-praktikum.tech/api/v2/resources{{avatar}}{{else}}/avatar.png{{/if}}" alt="Avatar"/>
      {{{DataForm}}}
      {{{AvatarForm}}}
      {{{PasswordForm}}}
  </main>
</div>
