<div class="page-wrapper">
  {{{ Link }}}
  <main class="profile">
    <img class="profile__avatar" src="/avatar.png" alt="Avatar"/>
    <h1 class="profile__login">Иван</h1>
    <ul class="profile__section">
      {{# each ProfileItems}}
        {{{this}}}
      {{/each}}
    </ul>
    <nav class="profile__nav">
      <ul class="profile__section">
        <li>
          {{{ SettingsLink }}}
        </li>
        <li>
          {{{ ChangePasswordLink }}}
        </li>
        <li>
          {{{ ExitLink }}}
        </li>
      </ul>
    </nav>
  </main>
</div>
